.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}

.board {
  height: 40em;
  width: 40em;
  margin: 40px auto;
  display: flex;
}

.chessPiece {
  height: 90%;
  width: 90%;
  align-items: baseline;
  margin-top: 5%;
}

.whiteTile,
.blackTile {
  height: 5em;
  width: 5em;
  border: 3px grey;
  border: 1px solid grey;
  margin: 0;
}

.whiteTile {
  background-color: rgb(219, 163, 80);
}

.blackTile {
  background-color: rgb(77, 48, 5);
}

.board.movingPiece .taken {
  background-color: rgb(212, 20, 20);
}

.board.movingPiece .available {
  background-color: green;
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  margin-top: 35%;
}
